*{
    margin: 0;
    padding: 0;
}
.font-style{
  font-family: "Inter", sans-serif;
  font-style: normal;
}
/* header section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:1600px;
    margin: 0 auto;
    padding:16px 120px;
}
nav .logo{
    width: 139px;
    height: 60px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
    
}

nav ul a{
    text-decoration: none;
    color:#000000;
}
.btn:hover{
    padding:24px;
    background-color: #30B068;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.banner{
     width: 1600px;
     height: 674px;
     margin: auto;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
}
.banner-container{
    max-width: 1360px;
    margin: 0 auto;

}
.banner-content{
    text-align: center;
    padding: 115px 120px 179px 32px;
    border-bottom: 16px;
}
.banner .radious{
    width: 16px;
    height: 16px;

    background-color: #30B068;
    border: none;
    
    border-radius:8px;
}
 .radious2{
    width: 120px;
    height: 20px;
    border-radius: 8px;
    background-color: #45534b;
}

.banner-content .title{
    width:229px; 
    margin: 0 auto;
    height: 36px;
    display: flex;
     justify-content: center;
    align-items: center;
    gap: 6px ;
    background-color: #FFFFFF;
    color: #30B068;
    border: none;
    border-radius: 1000px;
    padding:5px 12px;
}
.banner-content h1{
    display: flex;
    flex-direction: column;
    
}
.color{
    color: #30B868;
}
.banner-content p{
    max-width: 1360px;
    margin: auto;
    height: 60;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.btnn:hover{
    border: 1px solid #FFFFFF;
    padding: 12px 16px;
    background: none;
    color: #FFFFFF;
    cursor: pointer;
}
.btn2{
    margin-top: 32px;
    gap: 16px;
}
.btn2 img{
    text-align: center;
}
/* Note-section */
.Note-section{
    max-width: 1600px;
    margin: 0 auto;
    height: 448px;
    padding: 0 120px 120px 120px;
    gap: 44px;
    align-items: center;
}
.heading-section{
    width: 1360px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 50px;

    align-items: center;
    margin-bottom: 44px;
}
.heading-section h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.heading-section p{
    font-size: 16px;
    line-height: 20px;

}
.skill-box{
    width: 1360px;
    margin: auto;
    gap: 24px;
    display: flex;
    justify-content: space-between;
}
.skill-box .box-card{
    background-color: #FFFFFF;
    padding: 24px;
    gap: 16px;
    width: 322px;
    height: 300px;
    text-align: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #000000;
}
.skill-box .box-card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;

}
/* brain-section */
.brain-section{
    max-width: 1360px;
    margin: 0 auto;
   padding: 120px;
   
}
.brain-container{
     display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.brain-section ul li{
    list-style: none;
}
.brain-content h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B068;
    margin-bottom: 16px;
}
.brain-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.brain-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
